<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="fanuc_m710ic50" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="./common.gazebo.xacro" />
  <!-- <xacro:include filename="./common_properties.xacro"/> -->
  <!-- ur10 -->
  <xacro:include filename="./fanucm710ic50.urdf.xacro" />

  <!-- arm -->
  <xacro:m710ic50_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "fanuc_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-pi/2}" />
  </joint>

</robot>
